.home {
    text-align:center;
}

.home_title {
    font-family: "VWAGTheSans-Bold.otf";
    color:rgb(162, 30, 77);
}

.home_list {
    list-style: none;
    padding-top:20px;
    padding-left:0;  
} 

.home_list li {
    padding:20px;
}

.home_link {   
    color:#A8ADB3;
    font-family: "VWAGTheSans-Light.otf";
    font-size:30px;
   
      
}

.home_link:hover{
    list-style-type: none;
    color:#808080;
    font-style: none;
}




