/* navbar-container is logo + navbar */

.navbar-container {
    display: flex;
    align-items: center;
}
  
.navbar-container div {
    padding: 2%;
    height: 65px;
}

.VWDS-logo {
    width: auto;
    height: 100%;
}

.navbar {
    width: 100%;
    text-align: center;

}
.navbar a {
    width: 31%;
    height: 100%;
    float: left;
    color: rgb(162, 30, 77);
    border-style: solid;
    border-width: 0.5px;
    border-radius: 3px;
    margin: auto 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.navbar a:hover {
    color: white;
    background-color: rgb(162, 30, 77);
}

/* navbarlink is just "start" and "end" buttons */
 
.navbarlink {
    margin: auto;
    
}



/* navbarlink2 is just the "trips log" button, created separately because it's two words */

.navbarlink2 {
    margin: auto;
}

.navbarlink2:hover {
    color: white;
    background-color: rgb(162, 30, 77);
}

@media only screen and (min-width: 910px) {
    /* .navbarlink {
        width: 25%;
    }
    
    .navbarlink2 {
        width: 40%;
    } */
}


@media only screen and (max-width: 910px) {
    .navbarlink {
        width: 25%;
    }
    
    .navbarlink2 {
        width: 40%;
    }
}

@media only screen and (max-width: 768px) {
    .VWDS-logo {
        width: 220px;
        height: auto;
    }

    .navbar {
        height: 25px;
    }

    .navbarlink {
        padding-top: 10px;
        width: 20%;
    }

    .navbarlink2 {
        padding-top: 10px;
        width: 40%;
    }
}

@media only screen and (max-width: 430px) {
    .VWDS-logo {
        width: 120px;
        height: auto;
    }
    .navbar {
        height: 20px;
    }

    .navbarlink {
        padding-top: 5px;
        width: 20%;
    }

    .navbarlink2 {
        padding-top: 5px;
        width: 40%;
    }
}